@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.button {
  height: 60px;
  width: 100%;
  max-width: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accent-color;
  border-radius: 40px;
  font-size: 22px;
  line-height: 20px;
  border: none;
  @include button-text-font;
}

.button:hover {
  background-color: $hover-button-color;
  cursor: pointer;
}

.button_pressed {
  background-color: $pressed-button-color;
}

.button_loading:hover{
  background-color: $accent-color;
  cursor: none;
}

.button__preloader {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  border-top-color: transparent;
  animation: loading 1s linear infinite;
}

@media screen and (min-width: 768px) {
  .button {
    padding: 0 52px;
    height: 68px;
    width: fit-content;
    font-size: 30px;
    line-height: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .button {
    max-width: none;
    width: 426px;
  }
}
