@import './variables.scss';

// шрифты 
@mixin bold-font {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 900;
}
@mixin accent-text-font {
  @include bold-font;
  color: $accent-font-color;
}

@mixin second-accent-text-font {
  @include bold-font;
  color: $second-accent-font-color;
}

@mixin input-text-font {
  @include bold-font;
  color: $main-font-color;
}

@mixin button-text-font {
  @include bold-font;
  color: $button-font-color;
}

@mixin regular-title-font {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  color: $main-font-color;
}