$range-slider-thumb-diameter: 20px;
// цвета
$accent-color: #FF9514;
$light-gray-color: #F3F3F4;
$medium-gray-color: #E0E0E0;
$dark-gray-color: #E1E1E1;
$hover-button-color: #111111;
$pressed-button-color:#575757;
// цвета шрифтов
$accent-font-color: #111111;
$second-accent-font-color: #333333;
$main-font-color: #333E48;
$button-font-color: #FFFFFF;
