@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.page {
  padding: 44px 20px 64px;
  min-height: 100vh;
  display: flex;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 31px;
  @include accent-text-font;
}

.range-sliders {
  margin-bottom: 23px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.total-prices {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(167px,1fr));
  column-gap: 20px;
  row-gap: 29px;
}

@media screen and (min-width: 768px) {
  .page{
    padding: 64px 36px 156px;
  }

  .title {
    margin-bottom: 44px;
    font-size: 54px;
    line-height: 49px;
  }

  .range-sliders {
    margin-bottom: 48px;
  }

  .total-prices {
    margin-bottom: 42px;
    display: flex;
    width: 84%;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 0;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    padding: 100px 48px 120px;
  } 

  .total-prices {
    width: 76%;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    padding: 0 47px 0;
    align-items: center;
    justify-content: center;
  }

  .form {
    max-width: calc(1440px - 2*47px);
  }

  .title {
    margin-bottom: 32px;
    max-width: 753px;
  }

  .range-sliders {
    margin-bottom: 50px;
    flex-direction: row;
  }

  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .total-prices {
    margin-bottom: 0;
    width: auto;
    justify-content: flex-start;
  }
}
