.page {
  padding: 44px 20px 64px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 32px; // миксин
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 31px;
  color: #111111;
}

.range-sliders {
  margin-bottom: 16px; // миксин
  display: flex;
  flex-direction: column;
}