@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.page {
  padding: 44px 20px 64px;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 32px; // миксин
  font-size: 34px;
  line-height: 31px;
  @include accent-text-font;
}

.range-sliders {
  margin-bottom: 16px; // миксин
  display: flex;
  flex-direction: column;
}