@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.total-price {
  display: flex;
  flex-direction: column;
}

.total-price__title {
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 19px;
  @include regular-title-font
}

.total-price__number {
  font-size: 22px;
  line-height: 20px;
  @include second-accent-text-font;
}

@media screen and (min-width: 768px) {
  .total-price__title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 24px;
  }
  
  .total-price__number {
    font-size: 54px;
    line-height: 49px;
  }
}

@media screen and (min-width: 1440px) {
  .total-price {
    margin-right: 32px;
    width: 427px;
  }

  .total-price:last-of-type {
    margin-right: 0;
  }
}
