.range-slider {
  margin-bottom: calc(16px + 20px/2); // переменная
  display: flex;
  flex-direction: column;
}

.range-slider:last-of-type {
  margin-bottom: 0;
}

.range-slider__title {
  margin-bottom: 8px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333E48;
}

.range-slider__body {
  height: 60px; 
  padding: 18px 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F3F3F4;
  border-radius: 16px;
}

.range-slider__number-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.range-slider__number {
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 20px;
  color: #333E48;
}

.range-slider__unit {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 20px;
  color: #333E48;
}

// // -webkit- — Safari, Chrome, Opera 15+ и другие браузеры на основе движка WebKit или Blink.
// // -moz- — Firefox и браузеры на движке Gecko.
// // -o- — Opera 12 и раньше, на движке Presto. - упускаю короче
// // -ms- — Internet Explorer и старый Microsoft Edge 12–18.

.range-slider__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background-color: #E1E1E1;
  background-image: linear-gradient(#FF9514, #FF9514);
  background-repeat: no-repeat;
}

/* input range thumb */
.range-slider__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px; // переменная
  width: 20px; // переменная
  border-radius: 50%;
  background-color: #FF9514;
  cursor: pointer;
}

.range-slider__slider::-moz-range-thumb {
  border: none;
  height: 20px; // переменная
  width: 20px; // переменная
  border-radius: 50%;
  background-color: #FF9514;
  cursor: pointer;
}

.range-slider__slider::-ms-thumb {

  height: 20px; // переменная
  width: 20px; // переменная
  border-radius: 50%;
  background-color: #FF9514;
  cursor: pointer;
}

/* input range track */
.range-slider__slider::-webkit-slider-runnable-track  {
  box-shadow: none;
  border: none;
  background: transparent;
}

.range-slider__slider::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

.range-slider__slider::-ms-track {
  box-shadow: none;
  border: none;
  background: transparent;
}