@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.range-slider {
  margin-bottom: calc(16px + $range-slider-thumb-diameter/2);
  display: flex;
  flex-direction: column;
}

.range-slider_disabled {
  opacity: 0.4;
}

.range-slider:last-of-type {
  margin-bottom: 0;
}

.range-slider__title {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 19px;
  @include regular-title-font;
}

.range-slider__body {
  height: 60px; 
  padding: 18px 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $light-gray-color;
  border-radius: 16px;
}

.range-slider__body_active {
  background-color: $active-input-text-color;
  border: 2px solid $light-gray-color;
}

.range-slider__body_with-accent {
  padding: 6px 6px 0 20px;
}

.range-slider__number-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-slider__accent {
  width: 67px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: $medium-gray-color;
}

.range-slider__number {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 22px;
  line-height: 20px;
  @include input-text-font;
}

.range-slider__unit {
  font-size: 22px;
  line-height: 20px;
  @include input-text-font;
}

.range-slider__number-in-accent {
  padding-left: 14px;
  height: 100%;
  width: 45px;
  background-color: transparent;
  border: none;
  font-size: 22px;
  line-height: 20px;
  @include input-text-font;
}

.range-slider__unit-in-accent {
  margin-right: 5px;
  font-size: 22px;
  line-height: 20px;
  @include input-text-font;
}

.range-slider__slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background-color: $dark-gray-color;
  background-image: linear-gradient($accent-color, $accent-color);
  background-repeat: no-repeat;
}

.range-slider:hover .range-slider__slider {
  height: 1px;
}

/* input range thumb */
.range-slider__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: $range-slider-thumb-diameter;
  width: $range-slider-thumb-diameter;
  border-radius: 50%;
  background-color: $accent-color;
}

.range-slider__slider::-moz-range-thumb {
  border: none;
  height: $range-slider-thumb-diameter;
  width: $range-slider-thumb-diameter;
  border-radius: 50%;
  background-color: $accent-color;
}

.range-slider__slider::-ms-thumb {

  height: $range-slider-thumb-diameter;
  width: $range-slider-thumb-diameter;
  border-radius: 50%;
  background-color: $accent-color;
}

/* input range track */
.range-slider__slider::-webkit-slider-runnable-track  {
  box-shadow: none;
  border: none;
  background: transparent;
}

.range-slider__slider::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

.range-slider__slider::-ms-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .range-slider {
    margin-bottom: calc(28px + $range-slider-thumb-diameter/2);
  }

  .range-slider__title {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .range-slider__body {
    height: 68px; 
    padding: 16px 24px 0;
  }

  .range-slider__body_with-accent {
    padding: 7px 7px 0 24px;
  }

  .range-slider__accent {
    width: 80px;
    height: 53px;
  }

  .range-slider__number {
    font-size: 30px;
    line-height: 36px;
  }

  .range-slider__unit {
    font-size: 30px;
    line-height: 36px;
  }
  
  .range-slider__number-in-accent {
    font-size: 20px;
    line-height: 24px;
  }
  
  .range-slider__unit-in-accent {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .range-slider {
    margin-bottom: 0;
    margin-right: 32px;
    width: 100%;
  }

  .range-slider:last-of-type {
    margin-right: 0;
  }
}